body {
  height: 100%;
}

.mainContainer {
  display: flex;
  height: 80%;
}

.leftSection{
  flex: 2.5;
  overflow: auto;
}

.rightSection {
  flex: 10;
  overflow: auto;
}

.items {
  width: 10em;
  height: 8em;

  flex-direction: row;
  justify-content: space-between;

  margin: 3px;
}

.spanSubTitle {
  font-size: smaller;
}

.searchInput {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: -1.3em !important;
}

button.mat-raised-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Create a new line for the <span> content */
button.mat-raised-button span {
  margin-top: 8px; /* Adjust as needed for spacing between lines */
  _display: block;
}


@media only screen {
  .items {
    width: 8.5em;
    height: 6.7em;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
  }

  button.mat-stroked-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Create a new line for the <span> content */
  button.mat-stroked-button span {
    margin-top: 8px; /* Adjust as needed for spacing between lines */
    display: block;
  }

  .searchInput {
    width: 89%;
  }

  .mainContainer {
    display: flex;
    height: 86%;
  }

  .leftSection{
    flex: 6;
    overflow: auto;
  }

  .rightSection {
    flex: 10;
    overflow: auto;
  }
}
