

.items {
  width: 10em;
  height: 8em;

  flex-direction: row;
  justify-content: space-between;

  margin: 3px;
}

.navList {
  width: 32.8%;
  height: 85.6%;
  margin: 2px;
  overflow-y: auto;
}

.spanSubTitle {
  font-size: smaller;
}

.searchInput {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: -1.3em !important;
}


@media(min-width: 900px) {
  .items {
    width: 9em;
    height: 7em;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
  }

  .navList {
    width: 38%;
    height: 84.3%;
    margin: 2px;
    overflow-y: auto;
  }
}
