<!-- <button mat-raised-button (cdkDragMoved)="moved($event)" cdkDrag>
  test
</button>

<button mat-raised-button (cdkDragEnded)="dropped($event)" cdkDrag>
  test
</button> -->

<div #konvaContainer>

</div>
<!-- <button mat-raised-button *ngFor="let table of tables; let index" (cdkDragEnded)="dropped($event, table)" [ngStyle]="position(table)" cdkDrag #tableIndex>
    {{table.tableNumber}}
  </button> -->
<!-- <div class="example-boundary" cdkDropList (cdkDropListDropped)="drop($event)" #boundary>

 </div> -->


<!--  <div class="container" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="item" *ngFor="let item of items" cdkDrag [cdkDragData]="item" [style.transform]="'translate3d(' + item.position.x + 'px, ' + item.position.y + 'px, 0)'">
    {{ item.name }}
  </div>
</div> -->

