<!-- <div class="example-boundary">
  <div class="example-box" *ngFor="let item of tables$ | async"
    cdkDragBoundary=".example-boundary" [cdkDragFreeDragPosition]="tablePosition(item)"
    (cdkDragEnded)="dragEnded($event, item)" cdkDrag>
    {{item.tableNumber}}
  </div>

(cdkDragEnded)="dragEnded($event, table)"


</div>
-->

<div class="boundary">
  <div
    *ngFor="let table of tables$ | async"
    class="object"
    [style.left.px]="table.positionX"
    [style.top.px]="table.positionY"
    cdkDrag
    cdkDragBoundary=".boundary"
    (cdkDragEnded)="dragEnded($event, table)"
    (cdkDragReleased)="dragReleased($event)"
  >
    <span class="content">{{table.tableNumber}}</span>
  </div>
</div>

<section>
  <button *ngIf="changesDetected" mat-raised-button color="primary" (click)="updateAllPositions()"> Save arrangement </button>
  <button mat-raised-button (click)="addNewTable()">Add Dining Table</button>
</section>
