.leftSection {
  float: left;
  overflow-x: auto;
  width: 20%;
  gap: 3px;
}

.rightSection {
  float: right;
  width: 70%;
}

.buttons {
  margin: 3px;
}

.tableButtons {
  width: 100px;
  height: 50px;
}

.formFields {
  display: flex;
  flex-direction: column;
}
