<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="showCashier">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openCategory()">
        <mat-icon>category</mat-icon>
        <span>Categories</span>
      </button>
      <button mat-menu-item (click)="openProduct()">
        <mat-icon>product</mat-icon>
        <span>Product</span>
      </button>
      <button mat-menu-item (click)="openTableArrangement()">
        <mat-icon>table</mat-icon>
        <span>Table Arrangement</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="backToNavigation()">
        <mat-icon>arrow_back</mat-icon>
        <span>Navigation</span>
      </button>
    </mat-menu>
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>


</mat-toolbar>
<router-outlet></router-outlet>
<app-cashier *ngIf="showCashier"></app-cashier>
