.actionsWidth {
  width: 3em;
}

.tableContainer {
  height: 75%;
  overflow: auto;
}

.filter {
  width: 100%;
}

.parkButton {
  background-color: #dfd050;
}

.snackbarError {
  background-color: rgb(228, 100, 69);
  color: #fff;
}
