<mat-card>
  <mat-card-header>
    <mat-form-field class="filter" appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="filterText" (keyup)="applyFilter($event)" placeholder="Filter by Id" #input>
      <button mat-icon-button matSuffix *ngIf="filterText" (click)="clearFilter()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="datepicker">
      <mat-label>Choose a Date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon>
          event
        </mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-card-header>
  <mat-card-content>
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <mat-accordion displayMode="flat" multi class="mat-table">
        <section matSort class="mat-elevation-z2 section-header">
          <span class="mat-header-cell" mat-sort-header="id"> ID </span>
          <span class="mat-header-cell" mat-sort-header="price"> Price </span>
          <span class="mat-header-cell" mat-sort-header="tip"> Tip </span>
          <span class="mat-header-cell" mat-sort-header="percentage"> Percentage </span>
          <span class="mat-header-cell" mat-sort-header="withCard"> with Card </span>
          <span class="mat-header-cell" mat-sort-header="user"> User </span>
        </section>
      </mat-accordion>
      <mat-expansion-panel *ngFor="let transaction of transactions$ | async">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell"> {{transaction.id}} </span>
          <span class="mat-cell"> {{formatDecimal(transaction.price)}} </span>
          <span class="mat-cell"> {{formatDecimal(transaction.tip)}} </span>
          <span class="mat-cell"> {{calculateTipAsProcent(transaction)}} </span>
          <span class="mat-cell"> <mat-icon *ngIf="transaction.withCard">check</mat-icon> </span>
          <span class="mat-cell"> {{transaction.user.firstname}} {{transaction.user.lastname}} </span>
        </mat-expansion-panel-header>
        <div>
          <pre>{{transaction | json}}</pre>
        </div>
      </mat-expansion-panel>
  </mat-card-content>
</mat-card>
