<mat-spinner *ngIf="loading"></mat-spinner>

<div class="mainContainer">
  <h2>Tables</h2>
</div>

  <!-- <section *ngIf="!loading" class="tableSection">
    <div *ngFor="let table of tables">
      <button mat-raised-button class="tableBtn" [ngStyle]="changeColorDependingOnOccupied(table)" (click)="occupy(table.id)">
        {{table?.tableNumber}} <br>
        <span class="tableBtnSpan">Seats: {{table.numberOfPeople}} </span>
      </button>
    </div>

  </section> -->




<section>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let table of tables; let i = index" >
      <button mat-raised-button
        [ngStyle]="changeColorDependingOnOccupied(table)"
        (click)="openTable(table)">
        {{table.tableNumber}}
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</section>
