<mat-spinner *ngIf="loading"></mat-spinner>

<section class="mainContainer">
  <h2>Tables</h2>
</section>

<section>
  <div class="example-box" *ngFor="let table of tables$ | async"
    [cdkDragFreeDragPosition]="tablePositon(table)" [cdkDragDisabled]="true" cdkDrag>
    <button mat-raised-button [ngStyle]="changeColorDependingOnOccupied(table)" (click)="openTable(table)">
      {{table.tableNumber}}
    </button>
  </div>
</section>


<button mat-raised-button [ngStyle]="{'background-color': '#23ad34'}" (click)="dialog()">open pin dialog</button>
