.storage-table {
  display: flex;
  margin: auto;
  width: 80%;
}

.storage-value {
  display: flex;
  margin: auto;
}

.number-cell {
  text-align: center;
}

.add-button {
  float: right;
  margin: 2em;
}

