.pin {
  display: block;
  _justify-self: center;
  _align-self: center;
  _align-items: center;
  margin: auto;
}

.inputField {
  width: 98%;
  height: 30px;
}

table {
  margin: auto;
  _border: 3px solid black;
}

button {
  width: 100%;
  padding: 20px 40px;
  font-size: 24px;
  margin: 10px;
  border: none;
}
