body {
  height: 100%;
}

.mainContainer {
  display: flex;
  height: 80%;
}

.leftSection{
  flex: 3;
  overflow: auto;
}

.rightSection {
  flex: 10;
  overflow: auto;
}

.items {
  width: 10em;
  height: 8em;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.spanSubTitle {
  font-size: smaller;
}

.searchInput {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: -1.3em !important;
}

button.mat-raised-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button.mat-raised-button span {
  margin-top: 8px;
  _display: block;
}


@media only screen {
  .items {
    width: 9em;
    height: 7.2em;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .productName {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .price {
    font-size: 8px;
    font-style: italic;
  }

  button.mat-stroked-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  button.mat-stroked-button span {
    margin-top: 8px;
    display: block;
  }

  .searchInput {
    width: 93.5%;
  }

  .mainContainer {
    display: flex;
    height: 86%;
  }

  .leftSection{
    flex: 5;
    overflow: auto;
  }

  .rightSection {
    flex: 10;
    overflow: auto;
  }
}
